/* border, margin, and padding were used for
the buttons and the header to align things. .btn element uses all thre h1 usess all three elements
to restart and style the spacing.

float was used to align the images to the left. for .imagegrid img and .image grid div
*/ 


* {
	font-family: 'Droid Sans', sans-serif;
}

a{
	text-decoration: none;
	color: white;

}

a:visited{
	color: white;
}

header{
	text-align: center;
	margin-bottom: 30px;
}


ul {
	padding: 10px;
	background: rgba(0,0,0,0.5);
}

li {
	display: inline;
	padding: 0px 10px 0px 10px;
}

h1 {
	font-size: 70px;
	color: black;
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
	border-top: 20px;


}

h2 {
	margin: 0;
}

header img {
	margin-bottom: 30px;
}

.imagegrid div{
	position: relative;
	float: left;
    width:  33%;
    height: 33%;
}

.imagegrid img {
	background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:   cover;
    width:  50%;
    height: 50%;
    float: left;
}

.btn {
  color: #ffffff;
  font-size: 20px;
  background: #d96534;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 10px;

}

.btn:hover {
  background: #fc963c;
  text-decoration: none;
}







